<div class="top-info-bar bg-color-7 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline topList">
          <li><i class="fa fa-envelope bg-color-1" aria-hidden="true"></i> <a href="mailto:bobita@gyomro.hu">bobita@gyomro.hu</a></li>
          <li><i class="fa fa-phone bg-color-2" aria-hidden="true"></i> +36-29-330-069</li>
          <li><i class="fa fa-clock-o bg-color-6" aria-hidden="true"></i> Nyitva: 6:00 - 17:30</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline functionList">
          <li><i class="fa fa-globe bg-color-4" aria-hidden="true"></i> 2230 Gyömrő, Pázmány utca 52.</li>
          <li><i class="fa fa-calendar bg-color-3" aria-hidden="true"></i> {{ actualDate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>