<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
  <!-- KEZDO OLDAL -->
  <div class="container" *ngIf="selectedOvi==='default'">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="assets/img/logo-hand.png" alt="Kidz School">
        <div class="logo-text-area">
          <span class="logo-text">Gyömrő Város Önkormányzat Bóbita, Arany és Fejlesztő Óvoda</span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown singleDrop color-1   active ">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Kezdőlap</span>
          </a>
        </li>
        <li class="dropdown singleDrop color-3">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-child bg-color-3" aria-hidden="true"></i> <span>Magunkról</span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Küldetésünk</a></li>
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Fényképalbum</a></li>
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Alapítvány</a></li>
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Események</a></li>
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Térkép</a></li>
            <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Kapcsolat</a></li>
          </ul>
        </li>
        <li class="dropdown singleDrop color-2">
          <a [routerLink]="['/bobita-ovi']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bg-color-2" aria-hidden="true">B</i> <span>Bóbita ovi</span></a>
        </li>
        <li class="dropdown singleDrop color-4">
          <a [routerLink]="['/arany-ovi']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bg-color-4" aria-hidden="true">A</i> <span>Arany ovi</span></a>
        </li>
        <li class="dropdown singleDrop color-5">
          <a [routerLink]="['/fejleszto-ovi']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bg-color-5" aria-hidden="true">F</i> <span>Fejlesztő ovi</span></a>
        </li>
        <li class="dropdown singleDrop color-6 ">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-text-o bg-color-6" aria-hidden="true"></i> <span>Dokumentumok</span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class=" "><a href="#">Házirend</a></li>
            <li class=""><a href="#">Pedagógiai program</a></li>
            <li class=" "><a href="#">Szervezeti és működési <br> szabályzat</a></li>
            <!-- -TODO- ne legyen sortörés, megoldani! -->
            <li class=" "><a href="#">Különös közzétételi lista</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- BOBITA -->

  <div class="container" *ngIf="selectedOvi==='bobita'">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="assets/img/logo-hand.png" alt="Kidz School">
        <div class="logo-text-area">
          <span class="logo-text">Bóbita Óvoda</span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown singleDrop color-1">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Kezdőlap</span>
          </a>
        </li>
        <li class="dropdown singleDrop color-3">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-3" aria-hidden="true"></i> <span class="active">Másik óvoda</span>
          </a>
        </li>
        <li class="dropdown singleDrop color-2">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gg bg-color-2" aria-hidden="true"></i> <span>Óvodánkról</span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li class=" "><a href="#">Bevezető</a></li>
            <li class=""><a href="#">Munkatársaink</a></li>
            <li class=" "><a href="#">Óvodai csoportjaink</a></li>
          </ul>
        </li>

        <li class="dropdown singleDrop color-4">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-4" aria-hidden="true"></i> <span class="active">Galéria</span>
          </a>
        </li>
        <li class="dropdown singleDrop color-5">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-5" aria-hidden="true"></i> <span class="active">Események</span>
          </a>
        </li>
        <li class="dropdown singleDrop color-6">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-6" aria-hidden="true"></i> <span class="active">Kapcsolat</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="selectedOvi==='arany'">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="assets/img/logo-hand.png" alt="Kidz School">
        <div class="logo-text-area">
          <span class="logo-text">Arany Óvoda</span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown singleDrop color-1   active ">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Kezdőlap</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="selectedOvi==='fejleszto'">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="assets/img/logo-hand.png" alt="Kidz School">
        <div class="logo-text-area">
          <span class="logo-text">Fejlesztő Óvoda</span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown singleDrop color-1   active ">
          <a routerLink="/" routerLinkActive="active" class="dropdown-toggle">
            <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Kezdőlap</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bg-color-5" aria-hidden="true">F</i> <span>Fejlesztő ovi</span></a>
<ul class="dropdown-menu dropdown-menu-left">
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Kezdőlap</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">A Bóbita Óvodáról</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Munkatársaink</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Alapítvány</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Óvodai csoportjaink</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Események</a></li>
  <li class=" "><a [routerLink]="['/bobita-ovi']" fragment="ourTeam" routerLinkActive="active">Fényképalbum</a></li>
</ul> -->