<section class="countUpSection">
  <div class="container">
    <div class="sectionTitleSmall wow fadeInUp">
      <h2>Some Fun Facts</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod</p>
    </div>

    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="text-center wow fadeInUp">
          <div class="counter">179</div>
          <div class="counterInfo bg-color-1">Events Held</div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="text-center wow fadeInUp">
          <div class="counter">579</div>
          <div class="counterInfo bg-color-2">Happy Funs</div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="text-center wow fadeInUp">
          <div class="counter">279</div>
          <div class="counterInfo bg-color-3">happy clients</div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="text-center wow fadeInUp">
          <div class="counter">479</div>
          <div class="counterInfo bg-color-4">hours support</div>
        </div>
      </div>
    </div>
  </div>
</section>