<section class="whiteSection full-width clearfix homeGallerySection" id="ourGallery">
  <div class="container">
    <div class="sectionTitle text-center">
      <h2 class="wow fadeInUp">
        <span class="shape shape-left bg-color-4"></span>
        <span>Our Gallery</span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>

    <div class="row">
      <div class="col-xs-12 ">
        <div class="filter-container isotopeFilters wow fadeInUp">
          <ul class="list-inline filter">
            <li class="active"><a href="#" data-filter="*">View All</a></li>
            <li><a href="#" data-filter=".charity">Charity</a></li>
            <li><a href="#" data-filter=".nature">nature</a></li>
            <li><a href="#" data-filter=".children">children</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row isotopeContainer" id="container">
      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity ">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_1.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_1.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature ">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_2.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_2.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature ">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_3.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_3.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_4.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_4.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_5.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_5.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children ">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_6.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_6.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_7.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_7.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children ">
        <article class="wow fadeInUp">
          <figure>
            <img src="assets/img/home/home_gallery/gallery_sm_8.jpg" alt="image" class="img-rounded">
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_8.jpg">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </figure>
        </article>
      </div>
    </div>

    <div class="btnArea">
      <a href="photo-gallery.html" class="btn btn-primary">View more</a>
    </div>

  </div>
</section>